body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.rectangulo-menu {
    background-color: lightgray;
    color: red;
    padding: 10px;
    position: fixed;
    top: 0px;
    right: 10px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.iconos {
    display: flex;
    gap: 10px;
}

.menu {
    /* Menú desplegable */
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: black;
    color: red;
    padding: 10px;
    width: 160px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
}

.icono-menu {
    cursor: pointer;
}

.netflix-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
}

.netflix-header {
    background-color: lightgray;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.netflix-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.netflix-item {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.netflix-item img {
    max-width: 100%;
    height: auto; /* Cambia 'height' a 'auto' para mantener la proporción de la imagen */
}

/* Estilos para tabletas (por ejemplo, pantalla con un ancho máximo de 768px) */
@media (max-width: 768px) {
    .rectangulo-menu {
        padding: 5px;
    }

    .iconos {
        gap: 5px;
    }

    .menu {
        width: 120px;
    }

    .netflix-container {
        padding: 10px;
    }

    .netflix-header {
        font-size: 20px;
    }
}

/* Estilos para teléfonos móviles (por ejemplo, pantalla con un ancho máximo de 480px) */
@media (max-width: 480px) {
    .rectangulo-menu {
        padding: 5px;
        top: 0;
        right: 5px;
    }

    .menu {
        top: 30px;
        left: 5px;
    }
    .netflix-item {
        padding: 5px; /* Reduce el espacio alrededor del elemento */
    }

    .netflix-item h3 {
        font-size: 14px; /* Reduce el tamaño del texto */
        margin: 5px 0; /* Agrega un poco de margen entre el texto y la imagen */
    }
}